@model EnderecoFormViewModel

<div class="bg-white p-3 rounded-4 shadow-sm">
  <h6 class="fw-bold mb-3">Cadastrar endereço</h6>

  <div class="row g-2">
    <div class="col-12 col-md-4">
      <label class="form-label">CEP</label>
      <input class="form-control" id="endCep" value="@Model.Cep" placeholder="00000-000">
    </div>

    <div class="col-12 col-md-8">
      <label class="form-label">Logradouro</label>
      <input class="form-control" id="endLogradouro" value="@Model.Logradouro">
    </div>

    <div class="col-12 col-md-3">
      <label class="form-label">Número</label>
      <input class="form-control" id="endNumero" value="@Model.Numero">
    </div>

    <div class="col-12 col-md-9">
      <label class="form-label">Complemento</label>
      <input class="form-control" id="endComplemento" value="@Model.Complemento">
    </div>

    <div class="col-12 col-md-5">
      <label class="form-label">Bairro</label>
      <input class="form-control" id="endBairro" value="@Model.Bairro">
    </div>

    <div class="col-12 col-md-5">
      <label class="form-label">Cidade</label>
      <input class="form-control" id="endCidade" value="@Model.Cidade">
    </div>

    <div class="col-12 col-md-2">
      <label class="form-label">UF</label>
      <input class="form-control" id="endEstado" value="@Model.Estado" maxlength="2">
    </div>
  </div>

  <div class="d-flex gap-2 mt-3">
    <button type="button" class="btn btn-light rounded-4 px-3" id="btnCancelarNovoEndereco">
      Cancelar
    </button>
    <button type="button" class="btn text-white rounded-4 px-3" style="background:#7033ff" id="btnSalvarNovoEndereco">
      Salvar endereço
    </button>
  </div>
</div>
